name: Build and Deploy
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Install
        run: yarn install

      - name: Build
        run: yarn build

      - name: Deploy
        run: yarn deploy